 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
 }
 
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
--color:#E6EDF3;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --text-color:#E6EDF3;
  --color: rgba(255, 255, 255, 0.87);
  --nav-icon-color:#7D8590;
  --header-bg:#010409;
  --rest-of-page-color-bg:#0d1117;
  --blue-text-color:#2F81F7;
  --btn-color-bg2:#21262d;
  --btn-color-bg:#1a1a1a
--bt-text-color:#c9d1d9;
--border-color:#7d8590;
--green-text:#238636;
--hover-btn:#646cff;
--icon-btn:#7d8590;
--btn-box-shadow:0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06);
--form--bg:#30363d87;
--redWarning:#F85149;
--warning-bg:#f8524932;
--green:green;
--darkBox:0px 4px 6px -1px #bb86fc , 0px 2px 4px -1px #3700b3;



}

[data-theme='light']{
  /* 
    light theme colors */
    --text-color:#1f2328;
    --nav-icon-color:#656d76;
    --header-bg:#f6f8fa;
    --rest-of-page-color-bg:#ffffff;
    --blue-text-color:#2F81F7;
    --btn-color-bg2:#f9f9f9;
  --bt-text-color:#1f2328;
  --border-color:#7d8590;
  --green-text:#3fb950;
  --sign-up-bg:#0c162d;
  --sign-up-prompt-text:#00cfc8;
  --sign-up-intro-text:#8193b2;
  --sign-up-form-border:#202637;
  --hover-link-color: #747bff;
  --hover-btn:#646cff;
  --icon-btn:#1f2328;
  --form--bg:#ffff;
  --warning-bg:#f8524932
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
   
  }
 
.link_default {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.link_default:hover {
  color: #535bf2;
}





 .btn_default {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-color-bg2);
  color: var(--bt-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn_default:hover {
  border-color: var(--hover-btn);
}
.btn_default:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




/* ############################################################ */
/* START OF NAVIGATION BAR STYLES */
.accountPage{
  background-color: var(--rest-of-page-color-bg);
  min-height: 100vh;
  color: var(--text-color);
  transition:all  ease .1s ;
 
}
.accountHeader{
  background-color: var(--header-bg);
  height: 150px;
  border-bottom: 1px solid var(--border-color);
 display: grid;
 grid-template-rows: 1fr 1fr;


}
.upper_Header{
  display: flex;
  gap: 1em;
  padding: 10px;
  
}

.Icon_btn{
  width: 45px;
  height: 45px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--icon-btn);
  transition: border-color .5s;
}
.Icon_btn:hover{
  border-color: var(--hover-btn);
}
.upperEnd{
  
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
}
.upperStart{
  width: 30%;
  display: flex;
  align-items: center;
  gap: 1em;
}
#iconFade{
  color: var(--icon-btn);
  font-size: 30px;
}
.dash_btn{
  width: 80%;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  color: var(--text-color);
  font-weight: 700;
  font-size: 24px;
  height: 100%;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: var(--btn-box-shadow) ;
}
.dash_btn:hover{
  background-color: var(--btn-color-bg2);
  cursor: pointer;
  border-color: var(--hover-btn);
  
}
.dash_btn:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.lowerHeader{

  display: flex;
  gap: 1em;
  padding:  4px 1em;
  align-items:last baseline;
  
  
  
}
.dash_btn_lowerHeader{
  padding: .5em 2em;
  height: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color .25s;
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: border-color 0.25s;
}
.dash_btn_lowerHeader:hover{
  box-shadow:var(--btn-box-shadow);
  border-color: var(--hover-btn);
  background-color: var(--btn-color-bg2);
  
}


.active{
  text-decoration: none;
}
.active button{
  color: var(--hover-btn);
  border-bottom: 2px solid var(--hover-btn);
}
.notActive{
  text-decoration: none;
}


/* !SMALL SCREEN FOR THE HEADER NAVIGATION */
@media screen and (max-width:800px) {
  .upperEnd{
    width: 60%;
  }
  .upperStart{
    width: 40%;
  }
  .lowerHeader{
    gap: .5em;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: scroll;
    min-width: 300px;
  }
  .lowerHeader::-webkit-scrollbar{
    
    height: 2px;
    background-color: var(--border-color);
  }
  .dash_btn_lowerHeader{
    padding: 10px 10px;
  }
}


@media (max-width:540px) {
 .upperEnd{
  width: 30%;

 }
 .upperStart{
  width: 70%;
 }
  
 #iconFade{
  font-size: 20px;
 }
 .Icon_btn{
  width: 40px;
  height: 40px;
 }
 .upper_Header{
  padding: 5px;
 }
}
@media screen and (min-width:1000px) {
  .dash_btn{
    font-size: 27px;
  }
  .dash_btn_lowerHeader{
    font-size: 23px;
  }
  
  
}

.activeNested,
.notActiveNested{
  color: var(--text-color);
  padding: 1em;
 font-size: 19px;
 padding-top: 2em;
 transition: all .25s;
}
.activeNested:hover,
.notActiveNested:hover{
  color: var(--hover-btn);
}
.activeNested{
  color: var(--blue-text-color);
  border-bottom:1px solid var(--blue-text-color) ;
  padding-bottom: 0;
  border-radius: 5px;
}


/* END OF NAVIGATION PAGE */

.nestedHeader{
overflow-y: hidden;
  padding: 1em;
  overflow-x: scroll;
}
.nestedHeader::-webkit-scrollbar{
  height: 5px;
  
  background-color:var(--border-color)
}
.nestedHeader::-webkit-scrollbar-thumb{
  background-color: var(--blue-text-color);
}









/* ############################################################ */
/* ! ********************************************************************************** */
/* ! START OF OVER VIEW PAGE STYLES  */

.OverViewPage{
  padding: 1rem 2em;
}

.OverView_grid_Container{

  min-height: 80vh;
  display: grid;
  grid-gap: 16px;
  
  grid-template-columns: 1fr 2fr;
}
.UserInfo{

  display: grid;
  justify-content: center;
  padding: 2em 0;
}

.userImage{
  width: 256px;
  height: 256px;
}
.userImage img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  object-fit: cover;
}

.user_name {
  font-size: 2em;
  line-height: 1.1;
  padding-top: 1em;
}
.MoreBoutUser{
  text-align: center;
}
.fadeText{
  color: var(--border-color);
}

.Profile_actions{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.profileBtn{
  background-color: var(--btn-color-bg2);
  padding: .7em 1em;
  font-weight: 700;
  color: var(--bt-text-color);
  border-radius: 7px;
  border: 1px solid var(--border-color);
  box-shadow: var(--btn-box-shadow);
  font-size: 18px;
  cursor: pointer;
}



@media screen and (max-width:771px) {
  
  .OverView_grid_Container{
    grid-template-columns: 1fr;
  }
  .detailed_info{
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .userImage{
    width: 90px;
    height: 90px;
  }
  .UserInfo{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    gap: 2em;
  }
 
}

.availableApis{
  border: 1px solid var(--border-color);
  border-radius: 10px;
  min-height: 150px;
  padding: .5em 1em;
}
.UserDetails{
  padding: 1em;
}
.availableApi_upper{
  display: flex;
  justify-content: space-between;
}
.permitted{
  padding: 3px 1em;
  border: 1px solid var(--green);
  background-color: transparent;
  color: var(--green-text);
  border-radius: 10px;
}
.blueText{
  color: var(--blue-text-color);
}
.AvailableApi_container{
  display: grid;
  gap: 1em;
}

.text{
  font-size: 1.1em;
  line-height: 1.5em;
}
.textHeading{
  font-size: 1.2em;
}
.head_text{
  padding: 0 0 1em 1em;
}



@media screen  and (min-width:771px) and (max-width:1115px) {

  .OverView_grid_Container{
    grid-template-columns: 1.5fr 2fr;
  }
  
}
@media  screen and (max-width:450px) {
  .userImage{
    width: 60px;
    height: 60px;
  }
  .user_name,.fadeText{
    font-size: 19px;
  }
  .OverViewPage{
    padding: 1em ;
  }
  .blueText{
    font-size: 1em;
  }
  .text{
    font-size: 1em;
  }
  .UserDetails{
    padding: 1em 0 ;
  }
}

@media screen and (min-width:1300px) {
  .AvailableApi_container{
   
    grid-template-columns: 1fr 1fr;
  }
  
}

/* ! END OF OVERVIEW PAGE   STYLES  */
/* ############################################################ */
/* ! ********************************************************************************** */










/* ! START OF LOGIN PAGE   STYLES  */
/* ############################################################ */
/* ! ********************************************************************************** */

.Login_container{
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--rest-of-page-color-bg);
  width: 100%;
}
.LoginForm_container{
 width: 600px;
 min-height: 80vh;
 text-align: center;
 
 padding: 2em 1em;

}
.LoginText{
  font-size: 2em;

}
.signedInWith_Container{
  border: 0.1em solid var(--border-color);
  display: grid;
  gap: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: transparent;
  
}
#git_icons{
  font-size: 60px;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
}
/* #git_icons:hover {
  background-color: var(--rest-of-page-color-bg);
  filter: drop-shadow(0 0 2em var(--green));
} */
.Form{
padding: 2em 0;
}
.Form form{
  border: 1px solid var(--border-color);
  background-color: var(--form--bg);
  border-radius: 10px;
  padding: 1em 2em;

}
.inputs{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  position: relative;
}

.inputs .checked,
.inputs .strongPass,
.inputs .matchInPass{
  border: 0.01em solid var(--green);
}


.inputs input{
  padding: 10px 8px;
  border-radius: 10px;
  border: 0.01em solid var(--border-color);
  background-color: var(--rest-of-page-color-bg);
  color: var(--text-color);
  font-size: 22px;
  

}
#showPass{

  position: absolute;
  top: 60%;
  right: 1em;
  cursor: pointer;
}
.inputs input:focus{
  outline: none;
}

.checked:focus{
  outline: 1px solid;
}
.btn_submit{
  padding: 8px ;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--green-text);
  color: var(--color);
  cursor: pointer;
}
.loader img{
  width: 200px;
}
label{
  font-size: 22px;
}
.prompts{
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.tipsDesc{
  color: var(--border-color);
}

.errorMessage{
  color: red;
  font-size: 17px;
}
#hideError{
  position: absolute;
  right: .5em;
  top: 50%;
  color: var(--redWarning);
  transform: translate(-50%,-50%);
  font-size: 19px;
  cursor: pointer;
}
.loadingGit{
  pointer-events: none;
}

.invalidDetails{
  background-color: var(--warning-bg);
  border: 0.01px solid var(--redWarning);
  padding: 1em ;
  border-radius: 10px;
  position: relative;

  padding-right: 1.5em;
  
}

@media screen and (max-width:601px) {
  .LoginForm_container{
    width: 100%;
  }
  .Form form{
    padding: 1em;
  }
  .inputs input{
    font-size: 19px;
  }
  label{
    font-size: 20px;
  }
}
/* 
 #b1bac4;
    --color-scale-gray-3: #8b949e;
    --color-scale-gray-4: #6e7681;
    --color-scale-gray-5: #484f58;
    --color-scale-gray-6: #30363d;
    --color-scale-gray-7: #21262d;
    --color-scale-gray-8: #161b22;
    --color-scale-gray-9: #0d1117; */



/* ! END OF LOGIN PAGE   STYLES  */
/* ############################################################ */
/* ! ********************************************************************************** */










/* ############################################################ */
/* ! ********************************************************************************** */


/* ! START OF API_KEY PAGE STYLES  */

.ApiKeyPage{

  padding: 3em 2em;
  display: grid;
  place-content: center;
  width: 100vw;
}

.introToApiKey{
  border-bottom: 1px solid var(--border-color);
  padding: 2em 2em;
  display: flex;
  justify-content: space-between;
}

.introToApiKey h1{
  font-size: 2em;
}
.genNewBtn{
  padding: 0 15px ;
  max-height: 50px;
  font-size: 17px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--color);
  background-color: var(--green-text);
  cursor: pointer;
}
.sectionContainerForApiKey{
max-width: 100vw;
}
.ApiDesc{
  padding: 2em 0;
}
.ApiDesc p{
  font-size: 1.3em;
  line-height: 1.5em;
}

.api_heading{
  font-size: 1.6em;
  padding-bottom: 1em;
}
#key{
  font-size: 3em;
  color: var(--green-text);
}
.apiKey{
  border: 0.01px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  min-height: 170px;
  border-radius: 10px;
  align-items: center;
}
.apiInfo{
  display: flex;
gap: 1em;
  align-items: center;
  height: 100%;
  min-height: 150px;
  

}

.fa-copy{
  padding-left: 1em;
}
.delbtn{
  padding: .6em 1.7em;
  border-radius: 10px;
  border: 1px solid var(--redWarning);
  background-color: var(--warning-bg);
  color: var(--text-color);
  font-size: 17px;
  cursor: pointer;
}
.detailedApiInfo{
  height: 100%;
  display: block;
  
  
}
.detailedApiInfo h2{

  padding-bottom: 1em;
}
.detailedApiInfo p{
  padding-top: 1em;
  
}
/* 
-color-calendar-halloween-graph-day-L1-bg: #ffee4a;
    --color-calendar-halloween-graph-day-L2-bg: #ffc501;
    --color-calendar-halloween-graph-day-L3-bg: #fe9600; */
.api_dec{

  padding: 15px;
  border: 0.01px solid  #ffee4a;
  background-color: #ffed4a25;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

}
.copied{
  position: absolute;
  transform: translate(-50%,-50%);
  top: -10px;
  right: -6em;
  padding: 1em;
  border: 0.01px solid var(--border-color);
  border-radius: 50vw;
  background-color: var(--green-text);
  color: var(--color);
  transition: all .2s;
display: none;
}
.showCopied{
  display: block;
}
.loading3{
  width: 40px;
  margin: 0 1em;
  
}
.nonClick{
  pointer-events: none;
}

@media screen and (max-width:540px) {
  .detailedApiInfo h2{
    font-size: 17px;
  }
  .apiKey{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .apiInfo{
    flex-wrap: wrap;
    justify-content: center;
  }
  .api_dec{
    font-size: 13px;
  }
  .noApi{
    font-size: 17px;
  }
  #key{
    font-size: 27px;
  }
  .ApiKeyPage{
    padding-left:10px ;
    padding-right: 10px;
  }


}

/* ! END OF API_KEY  PAGE   STYLES  */
/* ############################################################ */
/* ! ********************************************************************************** */














/* ############################################################ */
/* ! ********************************************************************************** */


/* ! START OF DOCUMENTATION PAGE STYLES  */


.loadingData{
  background-color: var(--rest-of-page-color-bg);
 
 text-align: center;
  padding-top: 2em;
}
/* ! END OF DOCUMENTATION  PAGE   STYLES  */
/* ############################################################ */
/* ! ********************************************************************************** */











.documentContainer{
  display: grid;
  place-content: center;
}

.markdown-body{
  font-size: 20px;
  line-height: 1.5em;
  display: grid;
color: var(--text-color);
background-color: var(--rest-of-page-color-bg);
  padding: 3em 1em ;
  max-width: 1000px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
blockquote p{
  color: var(--text-color);
}
pre {
  font-size: 18px;
}

@media screen  and (max-width:800px){
  .markdown-body h1{
    font-size: 22px;
  }
  .markdown-body h2{
    font-size: 19px;
  }

  
}

   .BodyLogin{
  color: var(--text-color);
  background-color:var(--rest-of-page-color-bg);
  width: 100%;
  height: 100vh;
  padding: 1em;
 padding-bottom: 3em;
 display: grid;
 align-items: center;
 

}
.changePass{
 
  max-height: 50vh;
}

.formBackend{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  min-width: 300px;
  max-width: 600px;
  padding: 4em 2em;
  gap: 2em;
  min-height: 50vh;
border-radius: 10px;
  
}
.backendInput{
  display: grid;
  text-align: center;
}
.backendInput input{
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  height: 60px;
  color: var(--text-color);
  padding: 1em;
  font-size: 18px;
  
}
.backendInput button{
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--green-text);
  color: var(--color);
  font-size: 23px;
  cursor: pointer;
  transition: all .25s;

}
.backendInput button:hover{
  background-color:green ;
}
.formBackend h1{
  text-align: center;
}

@media screen  and (min-width:600px){

  .formBackend{
    min-width: 600px;
  }
  .BodyLogin{
    justify-content: center;
  }
  
}

@media screen and (max-width:400px) {
  .formBackend h1{
    font-size: 24px;
  }
  .formBackend label{
    font-size: 17px;
  }
  .formBackend{
    min-width: 100%;
    padding: 4em 1em;
  }
  .backendInput input{
    height: 50px;
    font-size: 16px;
  }
  .formBackend button{
    height: 50px;
    font-size: 20px;
  }
 
  
}


/* ! ### ##################################  */

/* ! SETTING DOCUMENTATION  CSS*/

.accountPage{
  position: relative;
  overflow-x: hidden;
}

.SettingNav{
  position: absolute;
  width: 100%;
  background-color: #0d111758;
  height: 100%;
  z-index: 10;
  
  
}

.hideSettingNav{
  display: none;
}
.showSettingNav{
  display: block;
}


.nav{
  position: absolute;
  right: 0;
height: 100%;
background-color: var(--header-bg);
width: 300px;
top: 0;
border-radius: 20px 0 0 20px;
display: grid;
text-align: center;
padding: 3em 10px 10px 10px;
border: 1px solid var(--border-color);
box-shadow:var(--darkBox) ;
transition: right 0.6s ease;
}
.settingUl{
 display: flex;
 flex-direction: column;
 gap: 2em;
 margin-top: 2em;
 font-size: 20px;
 font-weight: 600;
 letter-spacing: 1px;

}
.settingUl li{
  cursor: pointer;
}

.hideNav{
position: absolute;
margin: 1em;

}
.showSettings{
  right: 0;
}
.hideSettings{
  right: -100%;
}

@media screen  and (min-width:800px) {
  .nav{
    width: 400px;
  }
  
}


/* ! USER SETTINGS CSS */
.settings{
text-align: center;
background-color: var(--rest-of-page-color-bg);
  color: var(--text-color);
 
}

.settingContainer{

  min-height: 100vh;
}

.availableThemes{
  display: flex;
  align-items: center;
  padding: 2em 0;
  justify-content: center;
  gap: 2em;
}
.headings{
  font-size: 22px;
  padding-top: 1em;
}
.themeImage{
  border: 1px solid var(--border-color);
  
  border-radius: 10px;
  height: 150px;
  cursor: pointer;

}
.themeImage img{
 height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.selectedTheme{
  border: 3px solid var(--green-text);
}



